@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #151515;
  color: #e7e7e7;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 3rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  flex: 1 1 auto;
  font-weight: 700;
}

a {
  font-size: 1.5rem;
}
